body {
    margin: 0;
    padding: 0;
}


/* General contaneir */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 100vh;
    flex-direction: column;

}

/* heading */
h1 {
    color: rgb(145, 141, 135);
    font-family: sans-serif;
}

/* line */
.line{
    width: 250px;
    height: 2px;
    background-color: #fff;
    margin-top: -15px;
}

.deco{
    color: teal;
}

/* style the app */
.todo{
    height: 450px;
    width: 350px;
    background-color: #2b2626;
    margin-top: 3rem;
    box-shadow: 12px 12px 12px ;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* profile */
.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
 .name {
    color: #fff;
 }